*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url( 
        /Projects/MiniProject/images/pexels.jpg
    );
}

header{
    display: flex;
    border: black solid ;
    justify-content: center;
    background-color: black;
    padding: 1.125rem

}
.wrapper{
    display:flex;
    flex-direction: column;
    border: solid red 3px;
    height: 100vh;
    gap: 50px;
    justify-content: space-between;
    
}
.list-item{
    list-style: none;
    display: inline;
    padding-left: 1rem;
}
.list-item a{
    color: firebrick;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    

}
input{
    display: block;
    padding: 0.50rem;
}
label{
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 1.5rem;
    
}
#form{
    max-width: 500px;
    margin: 0 auto;
}
fieldset{
    padding: 3rem;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 2rem;
}